		<div class="wrap_footer">
	    <div class="row footer">
			<div class="col-sm-6">
			     <a href="/" ><img class="footer_logo" src="{% static '/img/logo.png' %}" /></a>
			</div>
			<div class="col-sm-6">
				<div class="footer_soc">
					<a href="#" ><img src="{% static '/img/app1.png' %}" /></a>
					<a href="#" ><img src="{% static '/img/app2.png' %}" /></a>
				</div>	
			</div>
			<div class="col-sm-3">
			    <div class="footer_head" >Присоединиться к нам</div>
				<a href="#" class="footer_desc" >Регистрация</a>
				<a href="#" class="footer_desc" >Вакансии</a>
			</div>
			<div class="col-sm-3">
			    <div class="footer_head" >Помощь</div>
				<a href="#" class="footer_desc" >Часто задаваемые вопросы</a>
				<a href="#" class="footer_desc" >Обратная связь</a>
			</div>
			<div class="col-sm-3">
				<div class="footer_head" >Правовая информация</div>
			    <a href="#" class="footer_desc" >Правила сервиса</a>
				<a href="#" class="footer_desc" >Политика конфиденциальности</a>
				<a href="#" class="footer_desc" >Обратная связь</a>
			</div>
			<div class="col-sm-3">
			    <div class="footer_head" >Следите за нами в соцсетях</div>
				<a href="#" class="footer_desc fb" >Facebook</a>
				<a href="#" class="footer_desc inst" >Instagram</a>
				<a href="#" class="footer_desc tw" >Twitter</a>
			</div>
	    </div>		
		</div>	
	</div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>